<% if (typeof(errors) != "undefined") { %>
  <div class="alert alert-error"><%= errors %></div>
<% } %>
<td>
<% if (active) { %>
   <span class="label label-success">Active</span>
   <%= item_name %><br />
   <strong>Auctioner: </strong><%= auctioner_name %><br />
   <strong>Current price: </strong>$<%= current_price %><br />
<% } else { %>
   <span class="label label-important">Finished</span>
   <%= item_name %><br />
   <strong>Final price: </strong>$<%= current_price %><br />
<% } %>

<% if (winner_name) { %>
  <strong>Auction winner: </strong><%= winning_bidder_name %><br />
<% } else if (winning_bidder_name) { %>
  <strong>Current winner: </strong><%= winning_bidder_name %><br />
<% } %>
</td>

<td>
<% if (window.Bidsystem.ActiveUser && active && window.Bidsystem.ActiveUser.id !== user_id) { %>
  <div class="input-prepend">
    <span class="add-on">$</span>
    <input type="text" name="amount" placeholder="amount" class="input-mini amount" required>  
  </div>
    <a href="#/auctions/<%= id %>/bid" class="btn btn-primary bid">Bid!</a>
<% } %>

<% if (active) { %>
  <a href="#/auctions/<%= id %>/close" class="btn btn-inverse close-auction">Close!</a>
<% } %>

  <a href="#/auctions/<%= id %>/destroy" class="btn btn-danger destroy">Delete</a>

</td>
